
.container {
  text-align: center;
  font-size: 200%;
  font-family: cursive;
  /* background-image: url("water1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  color: darkgoldenrod;
}
.container > h2 {
  margin-top: 40%;
}

.c2 {
  display:flex;
}

.c2 > div {
  width:50%;
}

.container2 {
  background-image: url("Human tears.jpg");
  background-repeat: no-repeat;
  background-position: center;  
}

  /* Style form labels */
  label {
    display: block;
    margin: 0px;
    font-size: 20px;
  }
  
  /* Style form inputs */
  input[type="number"] {
    width: 40%;
    /* height: 5px; */
    padding: 3px;
    margin-bottom: 2px;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  button {
    background-color: #4CAF50;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Change the submit button color on hover */
  button:hover {
    background-color: #0fda19;
    
  }